In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,classification_report

In [22]:
df = pd.read_excel('default of credit card clients.xls',index_col = 0)
df

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1,3,1,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29997,150000,1,3,2,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
29998,30000,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29999,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
30000,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [23]:
#df = df.rename(columns={'Unnamed: 1':'LIMIT_BAL','Unnamed: 2':'SEX','Unnamed: 3':'EDUCATION','Unnamed: 4':'MARRIAGE','Unnamed: 5':'AGE','Unnamed: 6':'PAY_0','Unnamed: 7':'PAY_2','Unnamed: 8':'PAY_3','Unnamed: 9':'PAY_4','Unnamed: 10':'PAY_5','Unnamed: 7':'PAY_2','Unnamed: 7':'PAY_2','Unnamed: 7':'PAY_2','Unnamed: 7':'PAY_2'})
#df

In [24]:
df.shape

(30000, 24)

In [25]:
df.isnull().sum()

LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [26]:
X = df.iloc[:,11:20]
y = df.iloc[:,-1:]

In [27]:
X_train,X_test,y_train,y_test = train_test_split(
X,
y,
test_size = 0.4
)

In [28]:
X_train.shape

(18000, 9)

In [29]:
X_test.shape

(12000, 9)

In [30]:
y_train.shape

(18000, 1)

In [31]:
y_test.shape

(12000, 1)

In [32]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)
y_predict = logmodel.predict(X_test)
y_predict

C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [33]:
con_matrix = confusion_matrix(y_test,y_predict)
con_matrix

array([[9291,   39],
       [2645,   25]], dtype=int64)

In [34]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.78      1.00      0.87      9330
           1       0.39      0.01      0.02      2670

    accuracy                           0.78     12000
   macro avg       0.58      0.50      0.45     12000
weighted avg       0.69      0.78      0.68     12000